body {
  background: #6eb4fa;
}
.container-logo {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid white;
}

.container-card {
  width: 200px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
  border-radius: 15px;
  margin: 0.5rem;
}
